@model IEnumerable<PurchaseRequestModel>

@{
    ViewData["Title"] = "Purchase History";
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Success"]
    </div>
}
<h2>Purchase History</h2>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var purchase in Model)
        {
            <tr>
                <td>@purchase.CreatedAt</td>
                <td>@purchase.ProductName</td>
                <td>@purchase.Quantity</td>
                <td>@purchase.Price</td>
            </tr>
        }
    </tbody>
</table>
